.slider{
    height: 20px;
    border: 2px solid var(--mist);
    border-radius: 20px;
}

.thumb{
    background-color: var(--mist);
    cursor:pointer;
    width:20px;
    height: 17px;
    border-radius: 20px;
}

.slider.blue {
    border: 2px solid var(--blue);
}
.slider.blue .thumb{
    background-color: var(--blue);
}